<h2><center>ホーム</center></h2>

<hr></hr>

  <div class="col">
      <br>
        <p class="fs-4">ニックネーム</p>
      </br> 
      <br>
       <p class="fs-4">年齢</p>
      </br> 
      <br><br>
       <p class="fs-4">趣味</p>
      </br></br> 
      <br><br>
       <p class="fs-4">自己紹介文</p>
      </br></br>
  </div>
 
  <br><br>
    <div class="col">
       <br><br>    
         <p class="fs-3">グループ</p>
       </br></br>
       <br><br>
         <p class="fs-3">個人</p>
       </br></br>
       <br><br>
         <p class="fs-3">自分が作成し他グループ</p>
       </br></br>     
    </div>
  </br></br>
