<h2><center>メッセージ</center></h2>

<hr></hr>


  <div class="row">
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h3>グループ</h3>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h3>個人</h3>
        </a>
      </li>
    </ul>
  </div>