<h2><center>検索画面</center></h2>
 <hr></hr>
 <br></br>
<div class="input-group">
  <input type="text" class="form-control" placeholder="キーワードを入力">
  
</div>
<ul>
      <br></br>
     <center><button class="btn btn-primary" type="button">検索</button></center>
</ul>
  <hr></hr>
