<img src="images/top.jpg" class="img-thumbnail"  alt="">
 <div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-dark" type="button"><%= link_to '新規登録' , signup_path%></button>
  <button class="btn btn-dark" type="button"><%= link_to 'ログイン' , login_path%></button>
</div>