<h1><center>ホーム</center></h1>
<br>
<p><left><font size="5">ニックネーム</font></left></p>
</br>
<br>
<p><left><font size="5">年齢</font></left></p>
</br>
<br><br>
<p><left><font size="5">趣味</font></left></p>
</br></br>
<br><br><br>
<p><left><font size="5">自己紹介文</font></left></p>
</br></br></br>
<br>
<p><font size="5">グループ</font></p>
</br>
<br>
<p><font size="5">個人</font></p>
</br>
<br>
<p><font size="5">自分が作成したグループ</font></p>
</br>
<br><br><br><br>
<hr></hr>
</br></br></br></br>
<p><left><font size="5">ホーム</font></p>
<p><font size="5">メッセージ</font></p>
<p><font size="5">プロフィール</font></p>
<p><font size="5">さがす</font></p>
<p><font size="6">+</font></p>